/* Main styles */
#main {
  height: 600px;
}

/* Home page styles */
#home {
  height: 450px;
}

#hi {
  font-size: 50px;
  text-align: center;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
}

#josh {
  font-size: 50px;
  text-align: center;
  animation: fadein 4s;
  -moz-animation: fadein 4s;
  -webkit-animation: fadein 4s;
  -o-animation: fadein 4s;
}

/* Project page styles */
#web-dev {
  font-size: 50px;
  text-align: center;
  animation: fadein 6s;
  -moz-animation: fadein 6s;
  -webkit-animation: fadein 6s;
  -o-animation: fadein 6s;
}

#catro {
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
}

#chattleship {
  animation: fadein 4s;
  -moz-animation: fadein 4s;
  -webkit-animation: fadein 4s;
  -o-animation: fadein 4s;
}

#programmer {
  animation: fadein 6s;
  -moz-animation: fadein 6s;
  -webkit-animation: fadein 6s;
  -o-animation: fadein 6s;
}

/* Contact page styles */
#contact-text {
  font-size: 30px;
}

/* animations */
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}