/* Main styles */
#main {
  min-height: 600px;
  max-height: 2400px;
}

/* Home page styles */
#hi {
  font-size: 50px;
  text-align: center;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
}

#josh {
  font-size: 50px;
  text-align: center;
  animation: fadein 4s;
  -moz-animation: fadein 4s;
  -webkit-animation: fadein 4s;
  -o-animation: fadein 4s;
}

#web-dev {
  font-size: 50px;
  text-align: center;
  animation: fadein 6s;
  -moz-animation: fadein 6s;
  -webkit-animation: fadein 6s;
  -o-animation: fadein 6s;
}

/* Project page styles */
#catro {
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
  width: 25%;
  margin: 14px;
}

#chattleship {
  animation: fadein 4s;
  -moz-animation: fadein 4s;
  -webkit-animation: fadein 4s;
  -o-animation: fadein 4s;
  width: 25%;
  margin: 14px;
}

#programmer {
  animation: fadein 6s;
  -moz-animation: fadein 6s;
  -webkit-animation: fadein 6s;
  -o-animation: fadein 6s;
  width: 25%;
  margin: 14px;
}

/* Contact page styles */
#contact-text {
  font-size: 30px;
}

/* About page styles */
#about-portrait {
  width: 302px;
  height: 403px;
}

#about-text {
  font-size: 24px;
  width: 50%;
}

/* animations */
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

/* Mediaqueries */

@media screen and (max-width: 400px ) {

  /* Main mediaqueries */
  #main {
    min-height: 730px;
    max-height: 2400px;
  }

  /* Project mediaqueries */
  #catro {
    width: 100%;
    margin: 14px;
  }
  
  #chattleship {
    width: 100%;
    margin: 14px;
  }
  
  #programmer {
    width: 100%;
    margin: 14px;
  }

  /* Contact mediaqueries */
  #contact-text {
    font-size: 26px;
  }

  /* About mediaqueries */
  #about-portrait {
    width: 226px;
    height: 302px;
    margin-bottom: 30px;
  }
  
  #about-text {
    font-size: 24px;
    width: 1000%;
  }
}