:root {
  --primary:#2A3132;
  --secondary:#336B87;
  --tertiary:#763626;
  --quaternary:#90AFC5;
}

/* Main styles */
#main {
  min-height: 600px;
  max-height: 2400px;
  position: relative;
}

svg {
  color:var(--tertiary)
}

/* Navbar Styles */

.nav-checkbox {
  display: none;
}

.nav-button {
  position: fixed;
  top: 18px;
  right: 18px;
  height: 40px;
  width: 40px;
  text-align: center;
  background-color:var(--quaternary);
  border-radius: 50%;
  z-index: 300;
  cursor: pointer;
}

.nav-icon {
  padding-top: 4px;
}

.nav-background {
  position: fixed;
  top: 14px;
  right: 14px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: var(--tertiary);
  background-size: cover;
  background-position: center;
  z-index: 100;
  transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  opacity: 0;
  width: 0;
  visibility: hidden;
  z-index: 200;
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  list-style: none;
}

.nav-item {
  display: inline-block;
  padding: 24px;
  margin: 12px;
  color: var(--quaternary);
  font-size: 34px;
  font-family: 'Kanit', sans-serif;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.nav-item:hover {
  color: var(--secondary);
  transform: scale(1.1);
}

.nav-checkbox:checked~.nav-background {
  transform: scale(80)
}

.nav-checkbox:checked~.nav-nav {
  width: 100%;
  visibility: visible;
  opacity: 1;
}

/* Home page styles */
#hi {
  font-size: 60px;
  font-family: 'Kanit', sans-serif;
  color: var(--quaternary);
  text-align: center;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
}

#im {
  font-size: 60px;
  font-family: 'Kanit', sans-serif;
  color: var(--quaternary);
  text-align: center;
  animation: fadein 4s;
  -moz-animation: fadein 4s;
  -webkit-animation: fadein 4s;
  -o-animation: fadein 4s;
}

#josh {
  display: inline;
  position: relative;
  color: var(--quaternary);
  font-size: 60px;
  font-family: 'Nova Flat', cursive;
  text-align: center;
  transform: translate(-50%, -50%);
  animation: fadein 4s;
  -moz-animation: fadein 4s;
  -webkit-animation: fadein 4s;
  -o-animation: fadein 4s;
}

#josh::before {
  content: "Josh";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 2px,
    transparent 2px,
    var(--secondary) 2px,
    var(--secondary) 4px
  );
  animation: fadein 6s;
  -webkit-background-clip: text;
  top: -10px;
  left: 0px;
  z-index: -1;
  transition: 1s;
}

#josh::after {
  content: "Josh";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    135deg,
    transparent 2px,
    transparent 2px,
    var(--tertiary) 2px,
    var(--tertiary) 4px
  );
  animation: fadein 6s;
  -webkit-background-clip: text;
  top: -5px;
  left: 0px;
  transition: 1s;
}

#josh:hover:before {
  top: 10px;
  left: 10px;
}

#josh:hover:after {
  top: -15px;
  left: -10px;
} 


#web-dev {
  font-size: 60px;
  font-family: 'Kanit', sans-serif;
  color: var(--quaternary);
  text-align: center;
  animation: fadein 6s;
  -moz-animation: fadein 6s;
  -webkit-animation: fadein 6s;
  -o-animation: fadein 6s;
}

/* Project page styles */
.card {
  width: 25%;
  height: 100%;
  margin: 16px;
  object-fit:cover;
  -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
  transform-origin:center;
  transform:perspective(800px) rotateY(25deg);
  transition:0.5s;
}

.card-body {
  background-color: var(--primary);
  color: var(--quaternary);
  font-family: 'Kanit', sans-serif;
}

.card-title {
  text-align: center;
  font-size: 24px;
  font-family: 'Nova Flat', cursive;
}

.card-link {
  text-decoration: none;
  color: var(--secondary);
  font-family: 'Kanit', sans-serif;
  font-size: 18px;
  opacity: 0.6;
}

.card-link:hover {
  color: var(--tertiary);
  opacity: 1;
}

#catro {
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
}

#chattleship {
  animation: fadein 4s;
  -moz-animation: fadein 4s;
  -webkit-animation: fadein 4s;
  -o-animation: fadein 4s;
}

#programmer {
  animation: fadein 6s;
  -moz-animation: fadein 6s;
  -webkit-animation: fadein 6s;
  -o-animation: fadein 6s;
}

#card-container:hover .card {
  opacity:0.3;
}

#card-container .card:hover {
  transform:perspective(800px) rotateY(0deg);
  opacity: 1;
}

/* Contact page styles */
.contact-text {
  font-size: 30px;
  color: var(--quaternary);
  font-family: 'Kanit', sans-serif;
}

#contact-link {
  color: var(--secondary);
  text-decoration: none;
}

#contact-link:hover {
  color: var(--tertiary);
}

/* About page styles */
#about-portrait {
  width: 302px;
  height: 403px;
}

#about-text {
  font-size: 24px;
  font-family: 'Kanit', sans-serif;
  color: var(--quaternary);
  width: 50%;
}

/* Skills page styles */

#skill-bubble-container {
  width: 60%;
}

#html-bubble {
  animation: float 4s ease-in-out infinite;
  background-color: var(--quaternary);
  width: 60px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25%;
  box-shadow: 5px 5px var(--tertiary);
}

#css-bubble {
  animation: float 6s ease-in-out infinite;
  background-color: var(--quaternary);
  width: 75px;
  height: 60px;
  margin-left: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25%;
  box-shadow: 5px 5px var(--tertiary);
}

#javascript-bubble {
  animation: float 2s ease-in-out infinite;
  background-color: var(--quaternary);
  width: 80px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  box-shadow: 5px 5px var(--tertiary);
}

#react-bubble {
  animation: float 10s ease-in-out infinite;
  background-color: var(--quaternary);
  width: 125px;
  height: 90px;
  margin-left: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25%;
  box-shadow: 5px 5px var(--tertiary);
}

/* animations */
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}


@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@-moz-keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@-webkit-keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@-o-keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

/* Mediaqueries */

@media screen and (max-width: 400px ) {

  /* Main mediaqueries */
  #main {
    min-height: 730px;
    max-height: 2400px;
  }

  /* Project mediaqueries */
  .card {
    width: 80%;
    margin: 14px;
    height: 100%;
    -webkit-box-reflect:below 0px linear-gradient(transparent, transparent, transparent);
    transform:perspective(800px) rotateY(0deg);
  }

  #card-container:hover .card {
    opacity:1;
  }
  
  #card-container .card:hover {
    opacity: 1;
  }

  /* Contact mediaqueries */
  #contact-text {
    font-size: 26px;
  }

  /* About mediaqueries */
  #about-portrait {
    width: 226px;
    height: 302px;
    margin-bottom: 30px;
  }
  
  #about-text {
    font-size: 24px;
    width: 1000%;
  }
}

@media screen and (max-width: 1000px ) {
  /* Project mediaqueries */
  .card {
    width: 80%;
    margin: 14px;
    height: 100%;
    -webkit-box-reflect:below 0px linear-gradient(transparent, transparent, transparent);
    transform:perspective(800px) rotateY(0deg);
  }

  #card-container:hover .card {
    opacity:1;
  }
  
  #card-container .card:hover {
    opacity: 1;
  }
}